# This is a basic workflow to help you get started with Actions

name: CI to DockerHub

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/python-docker:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      
      - name: Trigger App Deployment thru TFCB
        with:
          token: eqTNqr3kCd95Kw.atlasv1.rMzxayl4V9QFmH3yJlFpRy6lKzGyduNFU2pSGbv99bzVchROr7CLzyz08TGikr6DcmA
          organization: CiscoCX_LSSE_Learn
          workspace: iks-app-tf
          message: Run triggered
          type: apply
          wait-for-completion: true
          id: tfe-run